a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.carousel-item-height {
  height: 600px;
  background-size: cover;
  background-position: center center;
}

.shop-info-pic {
  height: 400px;
  background-size: cover;
  background-position: center center;
}

.title-border {
  position: relative;
}

.title-border::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #D79771;
  left: 50%;
  top: 150%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn-hover {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.btn-hover:hover {
  letter-spacing: 3px;
}

.card-img-height {
  height: 300px;
  background-size: cover;
  background-position: center center;
}

.title-word {
  text-align: center;
  width: 65%;
}

.card-shadow {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.card-shadow:hover {
  -webkit-box-shadow: 1px 3px 6px #BBB;
          box-shadow: 1px 3px 6px #BBB;
}

.discount-card {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.customer-comment {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
}

.card-img-circle {
  width: 150px;
  height: 150px;
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.card-height-hover {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.card-height-hover:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.booking-form {
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: screen;
  background-size: cover;
  background-position: center center;
}

.form-check-input:checked {
  background-color: #D79771;
  border-color: #D79771;
}

.form-check-input:focus,
.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #FFEBC9;
          box-shadow: 0 0 0 0.25rem #FFEBC9;
  border-color: transparent;
}

.shop-img {
  width: 100%;
  height: 300px;
  background-position: center center;
  background-size: 180%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background-color: rgba(0, 0, 0, 0);
  background-blend-mode: multiply;
}

.shop-img:hover {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  background-size: 210%;
}

.shop-img .map-word {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s, visibility .3s;
  -o-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
}

.shop-img:hover .map-word {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s, visibility .3s 0s;
  -o-transition: opacity .3s, visibility .3s 0s;
  transition: opacity .3s, visibility .3s 0s;
}

.news .img-box {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  height: 400px;
  background-color: rgba(0, 0, 0, 0);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
}

.news .img-box:hover {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.news .img-box .news-img-btn {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s, visibility 0s .3s;
  -o-transition: opacity .3s, visibility 0s .3s;
  transition: opacity .3s, visibility 0s .3s;
}

.news .img-box:hover .news-img-btn {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s, visibility 0s;
  -o-transition: opacity .3s, visibility 0s;
  transition: opacity .3s, visibility 0s;
}

.contact-btn {
  display: inline-block;
  margin: 0 10px;
}

.article-img {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
}

.previous a:hover,
.next a:hover {
  color: #D79771;
}

.icon-hover {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.icon-hover:hover {
  background-color: #FFEBC9;
}

.company-logo {
  width: 80%;
}

.about .img-box {
  height: 400px;
  background-size: cover;
  background-position: center center;
}

.about i {
  font-size: 5rem;
}

.coffee .coffee-list .img-box {
  height: 300px;
  background-size: cover;
  background-position: center center;
}

.coffee .coffee-list .menu td {
  text-align: center;
}

.tea .tea-list .img-box {
  height: 300px;
  background-size: cover;
  background-position: center center;
}

.tea .menu td {
  text-align: center;
}

.food .food-list .img-box {
  height: 300px;
  background-size: cover;
  background-position: center center;
}

.food .menu td {
  text-align: center;
}

.step-list {
  font-size: 85px;
}

.w-40 {
  max-width: 40%;
}

/*# sourceMappingURL=index.css.map */
