//黑色遮色片
@mixin bg-dark {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

.bg-blend-mode {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

//連結無底線
a {
    text-decoration: none;
}

//圖片置中
.bg-cover {
    background-size: cover;
    background-position: center center;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden
}

//取消bootstrap預設行為
html,
body {
    scroll-behavior: auto !important;
}