@mixin bg-cover {
    background-size: cover;
    background-position: center center;
}

@mixin bg-dark {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

//首頁Banner
.carousel-item-height {
    height: 600px;
    @include bg-cover;
}

//店家資訊照片
.shop-info-pic {
    height: 400px;
    @include bg-cover;
}

//標題底線
.title-border {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 5px;
        background-color: #D79771;
        left: 50%;
        top: 150%;
        transform: translateX(-50%);
    }
}

//按鈕滑入效果
.btn-hover {
    transition: all .3s;

    &:hover {
        letter-spacing: 3px;
    }
}

//最新消息照片
.card-img-height {
    height: 300px;
    @include bg-cover;
}

.title-word {
    text-align: center;
    width: 65%;
}

//卡片滑入效果
.card-shadow {
    transition: all .3s;

    &:hover {
        box-shadow: 1px 3px 6px #BBB;
    }
}

.discount-card {
    @include bg-cover;
    @include bg-dark;
}

//顧客推薦bg
.customer-comment {
    @include bg-dark;
    @include bg-cover;
}

//名人照片
.card-img-circle {
    width: 150px;
    height: 150px;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;

    @include bg-cover;
}

//顧客推薦-卡片滑入效果
.card-height-hover {
    transition: all .3s;

    &:hover {
        transform: translateY(-20px);
    }
}

//訂位資訊背景
.booking-form {
    background-color: rgba(255, 255, 255, .8);
    background-blend-mode: screen;
    @include bg-cover;
}

//表單樣式修改
.form-check-input:checked {
    background-color: #D79771;
    border-color: #D79771;
}

.form-check-input:focus,
.form-control:focus {
    box-shadow: 0 0 0 0.25rem #FFEBC9;
    border-color: transparent;
}

//門市資訊-店內照片
.shop-img {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: 180%;

    transition: all .3s;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: multiply;

    &:hover {
        @include bg-dark;
        background-size: 210%;
    }

    .map-word {
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s, visibility .3s;
    }

    &:hover .map-word {
        visibility: visible;
        opacity: 1;
        transition: opacity .3s, visibility .3s 0s;
    }

}

//最新消息-圖片漸暗效果
.news {
    .img-box {
        transition: all .3s;
        height: 400px;
        background-color: rgba(0, 0, 0, 0);
        background-blend-mode: multiply;
        @include bg-cover;

        &:hover {
            @include bg-dark;
        }

        .news-img-btn {
            visibility: hidden;
            opacity: 0;
            transition: opacity .3s, visibility 0s .3s;
        }

        &:hover .news-img-btn {
            visibility: visible;
            opacity: 1;
            transition: opacity .3s, visibility 0s;
        }
    }
}

//聯絡我們-表單按鈕
.contact-btn {
    display: inline-block;
    margin: 0 10px;
}

//最新消息內文-圖片設定
.article-img {
    width: 100%;
    height: 500px;
    @include bg-cover;
}

//分頁hover設定
.previous a,
.next a {
    &:hover {
        color: #D79771;
    }
}

//footer icon hover 效果
.icon-hover {
    transition: all .3s;

    &:hover {
        background-color: #FFEBC9;
    }
}

//企業合作logo
.company-logo {
    width: 80%;
}

//關於我們
.about {
    .img-box {
        height: 400px;
        background-color: #000;

        @include bg-cover;
    }

    i {
        font-size: 5rem;
    }
}