@mixin bg-cover{
    background-size: cover;
    background-position: center center;
}

.carousel-item-height{
  height: 600px;
  @include bg-cover;
}

.shop-info-pic{
    height: 400px;
    @include bg-cover;
}

.btn-hover{
    transition: all .3s;

    &:hover{
        letter-spacing: 3px;
    }
}

.card-img-height{
    height: 300px;
    @include bg-cover;
}

.card-shadow{
    transition: all .3s;

    &:hover{
        box-shadow: 1px 3px 6px #BBB;
    }
}

.custer-comment{
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    @include bg-cover;
}

.card-img-circle{
    width: 150px;
    height: 150px;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;

    @include bg-cover;
}

.card-height-hover{
    transition: all .3s;

    &:hover{
        transform: translateY(-20px);
    }
}