//門市資訊-店內照片
.shop-img {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: 180%;

    transition: all .3s;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: multiply;

    &:hover {
        @include bg-dark;
        background-size: 210%;
    }

    .map-word {
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s, visibility .3s;
    }

    &:hover .map-word {
        visibility: visible;
        opacity: 1;
        transition: opacity .3s, visibility .3s 0s;
    }

}