<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">

</head>

<body>
  <!-- 導覽列 -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text-beige" href="index.html">CC COFFEE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./index.html">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">關於我們</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="news.html">最新消息</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              商品介紹
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">咖啡</a></li>
              <li><a class="dropdown-item" href="#">茶飲</a></li>
              <li><a class="dropdown-item" href="#">點心</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">隨行卡介紹</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="shop.html">門市資訊</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact.html">聯絡我們</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%- contents %>

  <!-- footer聯絡資訊 -->
  <footer class="footer bg-dark text-white">
    <div class="container d-flex flex-column justify-content-center py-4 text-center">
      <div class="footer-title d-flex px-3 justify-content-center">
        <h3 class="me-4">CC coffee</h3>
        <ul class="icon d-flex list-unstyled">
          <li class="me-2">
            <a href="#" class="btn btn-sm btn-light icon-hover"><i class="fab fa-facebook-square"></i></a>
          </li>
          <li class="me-2">
            <a href="#" class="btn btn-sm btn-light icon-hover"><i class="fab fa-instagram-square"></i></a>
          </li>
          <li class="me-2">
            <a href="#" class="btn btn-sm btn-light icon-hover"><i class="fab fa-line"></i></a>
          </li>
        </ul>
      </div>
      <p class="mb-0">客服專線 <a href="tel:0800-000-000" class="text-white">0800-000-000</a></p>
      <p class="mb-0">服務時間：週一至週五 09:00-18:00<br>六日與國定假日除外</p>
      <small class="mt-2 text-white-50">
        © 2021 Zaii Hsu. All rights reserved.
      </small>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>