//卡片hover效果-陰影
.hover-shadow {
    transition: all .3s;

    &:hover {
        box-shadow: 1px 3px 6px #BBB;
    }
}

//卡片hover效果-上升
.hover-rise {
    transition: all .3s;

    &:hover {
        transform: translateY(-8px);
    }
}

//文字hover效果-顏色改變
.hover-change-color {

    &-bg {
        transition: all .3s;

        &:hover {
            background-color: #FFEBC9;
        }
    }

    &-word__light {
        color: white;
        transition: all .3s;

        &:hover {
            color: #FFEBC9;
        }
    }

    &-word__brown {
        transition: all .3s;

        &:hover {
            color: #D79771;
        }
    }
}

//文字hover效果-間距拉開
.hover-word-separate {
    transition: all .3s;

    &:hover {
        letter-spacing: 3px;
    }
}