//卡片hover效果-陰影
.hover-shadow {
    transition: all .3s;

    &:hover {
        box-shadow: 1px 3px 6px #BBB;
    }
}

//卡片hover效果-上升
.hover-rise {
    transition: all .3s;

    &:hover {
        transform: translateY(-20px);
    }
}

//分頁(文字)hover設定
.previous a,
.next a {
    &:hover {
        color: #D79771;
    }
}

//footer-icon hover效果
.icon-hover {
    transition: all .3s;

    &:hover {
        background-color: #FFEBC9;
    }
}

//按鈕hover效果-間距拉開
.btn-hover {
    transition: all .3s;

    &:hover {
        letter-spacing: 3px;
    }
}